In [3]:
#Import the needed libraries
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy as scipy
import pandas as pd
import os

#  1. Data Cleaning

Data is in TSV form So need to be changed to CSV

In [4]:
df = pd.read_csv("C:/Users/Sumanth/Documents/project2/Project 3 - Copy/sleep_merged.csv", on_bad_lines='error')

In [5]:
df.shape

(87, 1)

In [6]:
df.head(5)

  Species\tGenus\tOrder\tVore\tConservation\tBodyWt\tBrainWt\tTotalSleep\tAwake\tNonDreaming\tDreaming\tLifeSpan\tGestation\tPredation\tExposure\tDanger
0  African elephant\tLoxodonta\tProboscidea\therb...
1  African giant pouched rat\tCricetomys\tRodenti...
2  African striped mouse\tRhabdomys\tRodentia\tom...
3  Arctic fox\tVulpes\tCarnivora\tcarni\t\t3.38\t...
4  Arctic ground squirrel\tSpermophilus\tRodentia...

In [7]:
df.tail(5)

   Species\tGenus\tOrder\tVore\tConservation\tBodyWt\tBrainWt\tTotalSleep\tAwake\tNonDreaming\tDreaming\tLifeSpan\tGestation\tPredation\tExposure\tDanger
82  Vervet\tCercopithecus\tPrimates\tomni\tlc\t4.7...
83  Vesper mouse\tCalomys\tRodentia\therbi\t\t0.04...
84  Vole \tMicrotus\tRodentia\therbi\t\t0.035\t0\t...
85  Water opossum\tChironectes\tDidelphimorphia\tc...
86  Western american chipmunk\tEutamias\tRodentia\...

In [8]:
df.isnull().sum()

Species\tGenus\tOrder\tVore\tConservation\tBodyWt\tBrainWt\tTotalSleep\tAwake\tNonDreaming\tDreaming\tLifeSpan\tGestation\tPredation\tExposure\tDanger    0
dtype: int64

After converting to CSV everything is in single column. So after ordering.

In [9]:
df = pd.read_csv("C:/Users/Sumanth/Documents/project2/Project 3 - Copy/sleep_merged1.csv", on_bad_lines='error')

In [10]:
df.shape

(87, 16)

In [11]:
df.head(5)

,Species,Genus,Order,Vore,Conservation,BodyWt,BrainWt,TotalSleep,Awake,NonDreaming,Dreaming,LifeSpan,Gestation,Predation,Exposure,Danger
0,African elephant,Loxodonta,Proboscidea,herbi,vu,6654.000,5712.0,3.3,20.7,NaN,NaN,38.6,645.0,3.0,5.0,3.0
1,African giant pouched rat,Cricetomys,Rodentia,omni,NaN,1.000,6.6,8.3,15.7,6.3,2.0,4.5,42.0,3.0,1.0,3.0
2,African striped mouse,Rhabdomys,Rodentia,omni,NaN,0.044,0.0,8.7,15.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arctic fox,Vulpes,Carnivora,carni,NaN,3.380,44.5,12.5,11.5,NaN,NaN,14.0,60.0,1.0,1.0,1.0
4,Arctic ground squirrel,Spermophilus,Rodentia,herbi,lc,0.920,5.7,16.6,7.4,NaN,NaN,NaN,25.0,5.0,2.0,3.0

In [12]:
df.tail(5)

,Species,Genus,Order,Vore,Conservation,BodyWt,BrainWt,TotalSleep,Awake,NonDreaming,Dreaming,LifeSpan,Gestation,Predation,Exposure,Danger
82,Vervet,Cercopithecus,Primates,omni,lc,4.750,58.0,10.0,14.0,9.7,0.6,24.0,210.0,4.0,3.0,4.0
83,Vesper mouse,Calomys,Rodentia,herbi,NaN,0.045,0.0,7.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Vole,Microtus,Rodentia,herbi,NaN,0.035,0.0,12.8,11.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,Water opossum,Chironectes,Didelphimorphia,carni,lc,3.500,3.9,19.4,4.6,12.8,6.6,3.0,14.0,2.0,1.0,1.0
86,Western american chipmunk,Eutamias,Rodentia,herbi,NaN,0.071,0.0,14.9,9.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.isnull().sum()

Species          0
Genus            0
Order            0
Vore             0
Conservation    29
BodyWt           0
BrainWt          0
TotalSleep       0
Awake            0
NonDreaming     40
Dreaming        24
LifeSpan        33
Gestation       33
Predation       29
Exposure        29
Danger          29
dtype: int64

There are many null need to figure out them.

In [14]:
df.nunique()

Species         87
Genus           80
Order           19
Vore             4
Conservation     7
BodyWt          85
BrainWt         61
TotalSleep      66
Awake           66
NonDreaming     38
Dreaming        33
LifeSpan        45
Gestation       46
Predation        5
Exposure         5
Danger           5
dtype: int64

In [15]:
os.getcwd()

'C:\\Users\\Sumanth\\Documents\\project2\\Project 3 - Copy'

In [16]:

df.describe()

,BodyWt,BrainWt,TotalSleep,Awake,NonDreaming,Dreaming,LifeSpan,Gestation,Predation,Exposure,Danger
count,87.000000,87.000000,87.000000,87.000000,47.000000,63.000000,54.000000,54.000000,58.000000,58.000000,58.000000
mean,161.384310,196.405287,10.608046,13.393103,8.736170,1.979365,20.240741,139.268519,2.844828,2.362069,2.586207
std,768.846727,793.628150,4.465793,4.467481,3.679522,1.474204,18.757011,144.696322,1.496214,1.575005,1.426989
min,0.005000,0.000000,1.900000,4.100000,2.100000,0.100000,2.000000,12.000000,1.000000,1.000000,1.000000
25%,0.202500,0.000000,8.150000,10.250000,6.300000,0.900000,6.125000,36.750000,2.000000,1.000000,1.000000
50%,2.000000,5.500000,10.300000,13.700000,8.400000,1.800000,15.100000,79.000000,3.000000,2.000000,2.000000
75%,43.165000,64.000000,13.750000,15.850000,11.000000,2.500000,28.000000,195.000000,4.000000,4.000000,4.000000
max,6654.000000,5712.000000,19.900000,22.100000,17.900000,6.600000,100.000000,645.000000,5.000000,5.000000,5.000000

In [80]:
# Adding additional column for Order+Vore
df["OrderVore"] = df["Order"]+ "-" + df["Vore"]

In [81]:
df.isnull().sum()

Species              0
Genus                0
Order                0
Vore                 0
Conservation         0
BodyWt               0
BrainWt              0
TotalSleep           0
Awake                0
NonDreaming          0
Dreaming             0
LifeSpan            33
Gestation           33
Predation           29
Exposure            29
Danger              29
conservation_cat     0
OrderVore            0
dtype: int64

In [82]:
# Change data type of Species, Genus, Order, Vore, and Conservation to string
# Change data type of Predation, Exposure, and Danger to categorical (later).
df = df.astype({'Species': 'string', 'Genus': 'string', 'Order': 'string', \
                'Vore': 'string', 'Conservation': 'string', 'OrderVore': 'string'}, errors = 'ignore')

In [83]:
# Check for duplicate rows
# No duplicate rows found
rows = df.duplicated()
print("Number of duplicate rows:", rows.sum())

Number of duplicate rows: 0

# Erroneous values: Sleep + Awake exceeding 24h

In [29]:
df.loc[abs(df.TotalSleep + df.Awake - 24.0) > 0]

,Species,Genus,Order,Vore,Conservation,BodyWt,BrainWt,TotalSleep,Awake,NonDreaming,Dreaming,LifeSpan,Gestation,Predation,Exposure,Danger
14,Common porpoise,Phocoena,Cetacea,carni,vu,53.18,0.0,5.6,18.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Pilot whale,Globicephalus,Cetacea,carni,cd,800.00,0.0,2.7,21.35,NaN,0.1,NaN,NaN,NaN,NaN,NaN

In [30]:
def correction1(df):
    '''
    This function addresses the issue of TotalSleep+Awake being greater than 24 hours for Common porpoise 
    and Pilot whale on row 14 and 61.
    '''
    df.loc[14, "Awake"] = 18.4  # instead of 18.45
    df.loc[61, "Awake"] = 21.3  # instead of 21.35
    return df

In [31]:
df = correction1(df)

In [33]:
df.loc[abs(df.TotalSleep + df.Awake - 24.0) > 0]

Empty DataFrame
Columns: [Species, Genus, Order, Vore, Conservation, BodyWt, BrainWt, TotalSleep, Awake, NonDreaming, Dreaming, LifeSpan, Gestation, Predation, Exposure, Danger]
Index: []

# Erroneous values: Dreaming + NonDreaming != TotalSleep

In [34]:
# I saw several values of Dreaming, nonDreaming and TotalSleep which did not match TotalSleep = Dreaming + nonDreaming.
filtered_df = df[(abs(df['Dreaming'] - df['NonDreaming']) != 0) & \
                          df[['Dreaming', 'NonDreaming']].notnull().all(axis=1)]
filtered_df.head(5)

,Species,Genus,Order,Vore,Conservation,BodyWt,BrainWt,TotalSleep,Awake,NonDreaming,Dreaming,LifeSpan,Gestation,Predation,Exposure,Danger
1,African giant pouched rat,Cricetomys,Rodentia,omni,<NA>,1.000,6.6,8.3,15.7,6.3,2.0,4.5,42.0,3.0,1.0,3.0
5,Asian elephant,Elephas,Proboscidea,herbi,en,2547.000,4603.0,3.9,20.1,2.1,1.8,69.0,624.0,3.0,5.0,4.0
6,Baboon,Papio,Primates,omni,<NA>,25.235,180.0,9.4,14.6,9.1,0.7,27.0,180.0,4.0,4.0,4.0
7,Big brown bat,Eptesicus,Chiroptera,insecti,lc,0.023,0.3,19.7,4.3,15.8,3.9,19.0,35.0,1.0,1.0,1.0
9,Brazilian tapir,Tapirus,Perissodactyla,herbi,vu,207.501,169.0,4.4,19.6,5.2,1.0,30.4,392.0,4.0,5.0,4.0

# Erroneous values: NonDreaming

In [37]:
# Dreaming+NonDreaming does not add up to TotalSleep for several cases.

In [39]:
delta = df.loc[abs(df.NonDreaming + df.Dreaming \
                            - df.TotalSleep) > 0.1]

In [40]:
delta

,Species,Genus,Order,Vore,Conservation,BodyWt,BrainWt,TotalSleep,Awake,NonDreaming,Dreaming,LifeSpan,Gestation,Predation,Exposure,Danger
6,Baboon,Papio,Primates,omni,<NA>,25.235,180.0,9.4,14.6,9.1,0.7,27.0,180.0,4.0,4.0,4.0
9,Brazilian tapir,Tapirus,Perissodactyla,herbi,vu,207.501,169.0,4.4,19.6,5.2,1.0,30.4,392.0,4.0,5.0,4.0
21,Domestic cat,Felis,Carnivora,carni,domesticated,3.300,25.6,12.5,11.5,10.9,3.6,28.0,63.0,1.0,2.0,1.0
25,European hedgehog,Erinaceus,Erinaceomorpha,omni,lc,0.770,3.5,10.1,13.9,6.6,4.1,6.0,42.0,2.0,2.0,2.0
26,Galago,Galago,Primates,omni,<NA>,0.200,5.0,9.8,14.2,9.5,1.2,10.4,120.0,2.0,2.0,2.0
27,Genet,Genetta,Carnivora,carni,<NA>,2.000,17.5,6.3,17.7,4.8,1.3,34.0,NaN,1.0,2.0,1.0
30,Goat,Capri,Artiodactyla,herbi,lc,33.500,115.0,5.3,18.7,3.3,0.5,20.0,148.0,5.0,5.0,5.0
32,Golden-mantled ground squirrel,Spermophilus,Rodentia,herbi,lc,0.205,4.0,15.9,8.1,10.4,3.4,9.0,28.0,5.0,1.0,3.0
38,Guinea pig,Cavis,Rodentia,herbi,domesticated,0.728,5.5,9.4,14.6,7.4,0.8,7.6,68.0,5.0,3.0,4.0
40,House mouse,Mus,Rodentia,herbi,nt,0.022,0.4,12.5,11.5,11.9,1.3,3.2,19.0,4.0,1.0,3.0
43,Laboratory rat,Rattus,Rodentia,herbi,lc,0.320,1.9,13.0,11.0,10.6,2.6,4.7,21.0,3.0,1.0,3.0
48,Macaque,Macaca,Primates,omni,<NA>,6.800,179.0,10.1,13.9,8.4,1.2,29.0,164.0,2.0,3.0,2.0
52,Mountain beaver,Aplodontia,Rodentia,herbi,nt,1.350,8.1,14.4,9.6,8.4,2.8,NaN,45.0,3.0,1.0,3.0
54,North American Opossum,Didelphis,Didelphimorphia,omni,lc,1.700,6.3,18.0,6.0,13.8,5.6,5.0,12.0,2.0,1.0,1.0
60,Pig,Sus,Artiodactyla,omni,domesticated,86.250,180.0,9.1,14.9,6.5,1.9,27.0,115.0,4.0,4.0,4.0
75,Tenrec,Tenrec,Afrosoricida,omni,<NA>,0.900,2.6,15.6,8.4,11.0,2.3,4.5,60.0,2.0,1.0,2.0
80,Tree hyrax,Dendrohyrax,Hyracoidea,herbi,lc,2.950,12.3,5.3,18.7,4.9,0.5,7.5,200.0,3.0,1.0,3.0
81,Tree shrew,Tupaia,Scandentia,omni,<NA>,0.104,2.5,8.9,15.1,13.2,2.6,2.3,46.0,3.0,2.0,2.0
82,Vervet,Cercopithecus,Primates,omni,lc,4.750,58.0,10.0,14.0,9.7,0.6,24.0,210.0,4.0,3.0,4.0

In [42]:
tmp = df.loc[df["NonDreaming"].isna() \
                      & df["Dreaming"].notnull()]

In [43]:
tmp

,Species,Genus,Order,Vore,Conservation,BodyWt,BrainWt,TotalSleep,Awake,NonDreaming,Dreaming,LifeSpan,Gestation,Predation,Exposure,Danger
10,Caspian seal,Phoca,Carnivora,carni,vu,86.000,0.00,3.5,20.5,NaN,0.4,NaN,NaN,NaN,NaN,NaN
15,Cotton rat,Sigmodon,Rodentia,herbi,<NA>,0.148,1.18,11.3,12.7,NaN,1.1,NaN,NaN,NaN,NaN,NaN
18,Degu,Octodon,Rodentia,herbi,lc,0.210,0.00,7.7,16.3,NaN,0.9,NaN,NaN,NaN,NaN,NaN
20,Dog,Canis,Carnivora,carni,domesticated,14.000,70.00,10.1,13.9,NaN,2.9,NaN,NaN,NaN,NaN,NaN
22,Donkey,Equus,Perissodactyla,herbi,domesticated,187.000,419.00,3.1,20.9,NaN,0.4,40.0,365.0,5.0,5.0,5.0
29,Giraffe,Giraffa,Artiodactyla,herbi,cd,899.995,680.00,1.9,22.1,NaN,0.3,28.0,400.0,5.0,5.0,5.0
34,Gray hyrax,Heterohyrax,Hyracoidea,herbi,lc,2.625,12.27,6.3,17.7,NaN,0.6,NaN,NaN,NaN,NaN,NaN
37,Greater short-tailed shrew,Blarina,Soricomorpha,omni,lc,0.019,0.29,14.9,9.1,NaN,2.3,NaN,NaN,NaN,NaN,NaN
50,Mongolian gerbil,Meriones,Rodentia,herbi,lc,0.053,0.00,14.2,9.8,NaN,1.9,NaN,NaN,NaN,NaN,NaN
51,Mongoose lemur,Lemur,Primates,herbi,vu,1.670,0.00,9.5,14.5,NaN,0.9,NaN,NaN,NaN,NaN,NaN
55,Northern fur seal,Callorhinus,Carnivora,carni,vu,20.490,0.00,8.7,15.3,NaN,1.4,NaN,NaN,NaN,NaN,NaN
61,Pilot whale,Globicephalus,Cetacea,carni,cd,800.000,0.00,2.7,21.3,NaN,0.1,NaN,NaN,NaN,NaN,NaN
62,Potoroo,Potorous,Diprotodontia,herbi,<NA>,1.100,0.00,11.1,12.9,NaN,1.5,NaN,NaN,NaN,NaN,NaN
73,Squirrel monkey,Saimiri,Primates,omni,<NA>,0.743,20.00,9.6,14.4,NaN,1.4,NaN,NaN,NaN,NaN,NaN
76,Thick-tailed opposum,Lutreolina,Didelphimorphia,carni,lc,0.370,0.00,19.4,4.6,NaN,6.6,NaN,NaN,NaN,NaN,NaN
77,Thirteen-lined ground squirrel,Spermophilus,Rodentia,herbi,lc,0.101,4.00,13.8,10.2,NaN,3.4,NaN,NaN,NaN,NaN,NaN
78,Three-toed sloth,Bradypus,Pilosa,herbi,<NA>,3.850,0.00,14.4,9.6,NaN,2.2,NaN,NaN,NaN,NaN,NaN

In [44]:
def missing_1_NonDreaming(df):
    '''
    This function fills in the missing values for rows where NonDreaming is missing and Dreaming,
    TotalSleep are available.
    It uses the logic: NonDreaming = TotalSleep - Dreaming
    '''
    for i in range(len(df)):
        if(df["NonDreaming"].notnull()[i] == True):
            if(df["Dreaming"].notnull()[i] == False):
                df.loc[i, "NonDreaming"] = df.loc[i, "TotalSleep"] - df.loc[i, "Dreaming"]
    return df

In [46]:
df = missing_1_NonDreaming(df)

In [47]:
# Check missing values for Dreaming and NonDreaming
df.loc[df["NonDreaming"].isna() & df["Dreaming"].isna()]

,Species,Genus,Order,Vore,Conservation,BodyWt,BrainWt,TotalSleep,Awake,NonDreaming,Dreaming,LifeSpan,Gestation,Predation,Exposure,Danger
0,African elephant,Loxodonta,Proboscidea,herbi,vu,6654.000,5712.0,3.3,20.7,NaN,NaN,38.6,645.0,3.0,5.0,3.0
2,African striped mouse,Rhabdomys,Rodentia,omni,<NA>,0.044,0.0,8.7,15.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arctic fox,Vulpes,Carnivora,carni,<NA>,3.380,44.5,12.5,11.5,NaN,NaN,14.0,60.0,1.0,1.0,1.0
4,Arctic ground squirrel,Spermophilus,Rodentia,herbi,lc,0.920,5.7,16.6,7.4,NaN,NaN,NaN,25.0,5.0,2.0,3.0
8,Bottle-nosed dolphin,Tursiops,Cetacea,carni,<NA>,173.330,0.0,5.2,18.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Cheetah,Acinonyx,Carnivora,carni,lc,50.000,0.0,12.1,11.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Common porpoise,Phocoena,Cetacea,carni,vu,53.180,0.0,5.6,18.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Deer mouse,Peromyscus,Rodentia,herbi,<NA>,0.021,0.0,11.5,12.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Eastern american chipmunk,Tamias,Rodentia,herbi,<NA>,0.112,0.0,15.8,8.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Gorilla,Gorilla,Primates,herbi,cr,207.000,406.0,12.0,12.0,NaN,NaN,39.3,252.0,1.0,4.0,1.0
36,Gray wolf,Canis,Carnivora,carni,lc,36.330,119.5,13.0,11.0,NaN,NaN,16.2,63.0,1.0,1.0,1.0
42,Jaguar,Panthera,Carnivora,carni,nt,100.000,157.0,10.4,13.6,NaN,NaN,22.4,100.0,1.0,1.0,1.0
45,Lion,Panthera,Carnivora,carni,vu,161.499,0.0,13.5,10.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Northern grasshopper mouse,Onychomys,Rodentia,carni,lc,0.028,0.0,14.5,9.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Potto,Perodicticus,Primates,omni,lc,1.100,0.0,11.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Raccoon,Procyon,Carnivora,carni,<NA>,4.288,39.2,12.5,11.5,NaN,NaN,13.7,63.0,2.0,2.0,2.0
68,Roe deer,Capreolus,Artiodactyla,herbi,lc,14.800,98.2,3.0,21.0,NaN,NaN,17.0,150.0,5.0,5.0,5.0
69,Round-tailed muskrat,Neofiber,Rodentia,herbi,nt,0.266,0.0,14.6,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,Short-nosed echidna,Tachyglossus,Monotremata,insecti,<NA>,4.500,25.0,8.6,15.4,NaN,NaN,50.0,28.0,2.0,2.0,2.0
72,Slow loris,Nyctibeus,Primates,carni,<NA>,1.400,12.5,11.0,13.0,NaN,NaN,12.7,90.0,2.0,2.0,2.0
79,Tiger,Panthera,Carnivora,carni,en,162.564,0.0,15.8,8.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Vesper mouse,Calomys,Rodentia,herbi,<NA>,0.045,0.0,7.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Vole,Microtus,Rodentia,herbi,<NA>,0.035,0.0,12.8,11.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Western american chipmunk,Eutamias,Rodentia,herbi,<NA>,0.071,0.0,14.9,9.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
# Based on the document, savage-west-2007.pdf I identified that for Short-nosed echidna, \
# the NonDream/Dreaming Ratio is 5:1.

In [49]:
def missing_2_NonDreaming(df):
    '''
    This function fills in the Dreaming and NonDreaming values as per savage-west-2007.pdf.
    Differentiating between REM and non-REM sleep is difficult for the species, Tachyglossus.
    So I will split this TotalSleep time to the general consensus of 80/20 ratio.
    '''
    df.loc[71, "Dreaming"] = 1.7    # TotalSleep = 8.6 hence 20% of this
    df.loc[71, "NonDreaming"] = 6.9 # TotalSleep = 8.6 hence 80% of this
    return df

In [51]:
df = missing_2_NonDreaming(df)

# Missing values: Dreaming/Non-Dreaming

In [52]:
# According to Savage-West-2007.pdf, I have an average R (dreaming/TotalSleep ratio) of 0.17, 
# so I can set Dreaming as 0.17*TotalSleep for most Orders. Except for Primates (more like 90/10) and elephant (55/45)

In [55]:
df.loc[df.Order == 'Proboscidea']

,Species,Genus,Order,Vore,Conservation,BodyWt,BrainWt,TotalSleep,Awake,NonDreaming,Dreaming,LifeSpan,Gestation,Predation,Exposure,Danger
0,African elephant,Loxodonta,Proboscidea,herbi,vu,6654.0,5712.0,3.3,20.7,NaN,NaN,38.6,645.0,3.0,5.0,3.0
5,Asian elephant,Elephas,Proboscidea,herbi,en,2547.0,4603.0,3.9,20.1,2.1,1.8,69.0,624.0,3.0,5.0,4.0

In [56]:
def missing_1_non_dreaming(df):
    '''
    This function fills in the missing value based on Savage-West-2007.pdf.
    We have an average R (dreaming/TotalSleep ratio) of 0.17, so we can set Dreaming as 
    0.17*TotalSleep for most Orders. 
    More like 90/10 for Primates and 55/45 for elephant.
    '''
    df.loc[df.Species == 'African elephant',"NonDreaming"] = \
        round(df.loc[df.Species == 'African elephant',"TotalSleep"] * 0.55, 1)
    df.loc[df.Species == 'African elephant',"Dreaming"] = \
        round(df.loc[df.Species == 'African elephant',"TotalSleep"] * 0.45, 1)
    df.loc[df.Order == 'Primates',"NonDreaming"] = \
    round(df.loc[df.Order == 'Primates',"TotalSleep"] * 0.9, 1)
    df.loc[df.Order == 'Primates',"Dreaming"] = \
    round(df.loc[df.Order == 'Primates',"TotalSleep"] * 0.1, 1)
    return df

In [57]:
def missing_2_non_dreaming(df):
    '''
    This function fills in the dreaming values for the remaining as per Savage-West-2007.pdf
    '''
    df.loc[df.NonDreaming.isna(),'NonDreaming'] = \
    round(df.loc[df.NonDreaming.isna(),'TotalSleep'] * 0.83, 1)
    df.loc[df.Dreaming.isna(),'Dreaming'] = \
    round(df.loc[df.Dreaming.isna(),'TotalSleep'] * 0.17, 1)
    return df

In [59]:
# Fill in the missing value based on Savage-West-2007.pdf
df = missing_1_non_dreaming(df)

In [60]:
# Fill in the remaining missing values for dreaming
df = missing_2_non_dreaming(df)

# Fill in missing values based on Order+Vore grouping

In [106]:
# Fill in missing values based on Order+Vore grouping and filling missing values with mean that is 
# calculated by excluding outliers above/below 2 standard deviations.

cats = df[["LifeSpan", "Gestation", "Predation", "Exposure", "Danger"]].copy()
for col in cats.columns:
    for ov in df["OrderVore"].unique():
        ov_data = df[df["OrderVore"] == ov]
        cat_removed = (ov_data[col] > np.mean(ov_data[col]) + 2 * np.std(ov_data[col])) | \
                      (ov_data[col] < np.mean(ov_data[col]) - 2 * np.std(ov_data[col]))
        cat_filter = ov_data.loc[~cat_removed, col]
        mean_value = cat_filter.mean()
        if not np.isnan(mean_value):
            df.loc[df["OrderVore"] == ov, col] = \
            df.loc[df["OrderVore"] == ov, col].fillna(mean_value)

In [107]:
# Rounding up values for the categorical variables: Predation, Exposure, and Danger
df[["Predation", "Exposure", "Danger"]] = df[["Predation", "Exposure", "Danger"]].round(0)

# Erroneous values: Conservation

In [108]:
# According to IUCN Red List of Threatened Species, there are 9 categories of Conservation status: 
# Not Evaluated, Data Deficient, Least Concern, Near Threatened, Vulnerable, Endangered, 
# Critically Endangered, Extinct in the Wild and Extinct.

In [109]:
df.Conservation.unique()

<StringArray>
['vu', 'lc', 'en', 'domesticated', 'nt', 'cr']
Length: 6, dtype: string

In [110]:
# 'cd' is not in the list of IUCN, but it is visible in the dataset
df.loc[df.Conservation == 'cd']

Empty DataFrame
Columns: [Species, Genus, Order, Vore, Conservation, BodyWt, BrainWt, TotalSleep, Awake, NonDreaming, Dreaming, LifeSpan, Gestation, Predation, Exposure, Danger, conservation_cat, OrderVore, Ratio]
Index: []

In [111]:
def missing_1_conservation(df):
    '''
    This function replaces "cd" values for Conservation by 'vu" and "lc"
    '''    
    df.loc[df.Species == 'Giraffe','Conservation'] = 'vu'
    df.loc[df.Species == 'Pilot whale','Conservation'] = 'lc'
    return df

In [112]:
# fill in the dreaming values for Conservation = 'vu" and "lc"
df = missing_1_conservation(df)

# Missing values: Conservation

In [113]:
# I verify missing values on the ICUN website at https://www.iucnredlist.org/

In [114]:
df.loc[df.Conservation.isna()].head(5)

Empty DataFrame
Columns: [Species, Genus, Order, Vore, Conservation, BodyWt, BrainWt, TotalSleep, Awake, NonDreaming, Dreaming, LifeSpan, Gestation, Predation, Exposure, Danger, conservation_cat, OrderVore, Ratio]
Index: []

In [115]:
def missing_2_conservation(df):
    '''
    Fill in missing values of Conservation with values obtained from IUCN website.
    '''
    df.loc[12,'Conservation'] = 'en'
    df.loc[17,'Conservation'] = 'nt'
    df.loc[46,'Conservation'] = 'en'
    df.loc[48,'Conservation'] = 'en'
    df.loc[62,'Conservation'] = 'vu'
    df.loc[65,'Conservation'] = 'vu'
    df.loc[72,'Conservation'] = 'en'
    df.loc[73,'Conservation'] = 'nt'
    df.loc[78,'Conservation'] = 'cr'
    return df

In [116]:
def missing_3_conservation(df):
    '''
    Since we could not identify if these species were endangered (not in the IUCN red list),
    I fill in remaining missing values of Conservation with 'lc'.
    '''
    df.loc[:,"Conservation"].replace(np.nan,'lc', inplace = True)
    return df

In [117]:
def missing_4_conservation(df):
    '''
    This function converts Conservation to numeric type.
    I set an increasing order as defined by IUCN, from least affected to most affected.
    '''
    conserv_dict = {'domesticated': 0, 'lc': 1, 'nt': 2, 'vu': 3, 'en': 4, 'cr': 5}
    df["conservation_cat"] = df["Conservation"].map(conserv_dict)
    return df

In [118]:
# Fill in missing values of Conservation with values obtained from IUCN website
df = missing_2_conservation(df)

In [119]:
# Fill in remaining missing values of Conservation with 'lc'.
df = missing_3_conservation(df)

In [120]:
# Convert text attributes to numerical in a new column
df = missing_4_conservation(df)

# Erroneous values: BodyWt and BrainWt

In [121]:
# There are 23 rows where BrainWt is 0. I will fill them with the mean calculated per OrderVore.
# (excluding the outliers above or below 2 standard deviations during the calculation of mean)

In [122]:
df.loc[df["BrainWt"] == 0].head(5)

Empty DataFrame
Columns: [Species, Genus, Order, Vore, Conservation, BodyWt, BrainWt, TotalSleep, Awake, NonDreaming, Dreaming, LifeSpan, Gestation, Predation, Exposure, Danger, conservation_cat, OrderVore, Ratio]
Index: []

In [124]:
# Correction of Variable BrainWt

# Compute ratio BrainWt/BodyWt
df['Ratio'] = df['BrainWt'] / (df['BodyWt'])

# Compute average (Ratio) by Order_Vore
mean_ratio = df[df['Ratio'] != 0.00].groupby('OrderVore')['Ratio'].mean()
# print(mean_ratio)

# update ratio on the data set
def update_ratio(df):
    if df['BrainWt'] == 0 and not pd.isna(mean_ratio.get(df['OrderVore'])):
        return mean_ratio[df['OrderVore']]
    else:
        return df['Ratio']

df['Ratio'] = df.apply(update_ratio, axis = 1)

# update BrainWt
df['BrainWt'] = df['Ratio'] * df['BodyWt']
# df = df.drop('Ratio', axis = 1)

In [125]:
df.loc[df["BrainWt"] == 0]

Empty DataFrame
Columns: [Species, Genus, Order, Vore, Conservation, BodyWt, BrainWt, TotalSleep, Awake, NonDreaming, Dreaming, LifeSpan, Gestation, Predation, Exposure, Danger, conservation_cat, OrderVore, Ratio]
Index: []

In [126]:
# I find the mean by vore for the remaining 0 values for BrainWt and fill in with these mean values.
mean_ratio = round(df.groupby('Vore')['Ratio'].mean(), 2)
mean_ratio

Vore
carni       6.15
herbi       8.36
insecti    12.10
omni       15.03
Name: Ratio, dtype: float64

In [127]:
df.loc[8, 'Ratio'] = 5.20
df.loc[14, 'Ratio'] = 5.20
df.loc[56, 'Ratio'] = 5.20
df.loc[61, 'Ratio'] = 5.20
df.loc[78, 'Ratio'] = 8.14

In [128]:
df['BrainWt'] = df['Ratio'] * df['BodyWt']

In [129]:
df.loc[df["BrainWt"] == 0]

Empty DataFrame
Columns: [Species, Genus, Order, Vore, Conservation, BodyWt, BrainWt, TotalSleep, Awake, NonDreaming, Dreaming, LifeSpan, Gestation, Predation, Exposure, Danger, conservation_cat, OrderVore, Ratio]
Index: []

# Missing values: Ecological attributes

In [131]:
df.loc[df['Predation'].isnull() | df['Exposure'].isnull() \
                | df['Danger'].isnull()]

# Based on information found over a web search, we go with
# Northern grasshopper mouse (Predator 2,  Exposure: 2, Danger: 2)
# Three-toed sloth (Predator: 4, Exposure: 3, danger: 5)

Empty DataFrame
Columns: [Species, Genus, Order, Vore, Conservation, BodyWt, BrainWt, TotalSleep, Awake, NonDreaming, Dreaming, LifeSpan, Gestation, Predation, Exposure, Danger, conservation_cat, OrderVore, Ratio]
Index: []

In [132]:
# There are 2 particular cases for Cetacea and Pilosa, where no value is available to do mean, 
# so I'll treat them separately.

# For 'Cetacea', 1-1-1 seems appropriate
df.loc[df.Order == 'Cetacea']

,Species,Genus,Order,Vore,Conservation,BodyWt,BrainWt,TotalSleep,Awake,NonDreaming,Dreaming,LifeSpan,Gestation,Predation,Exposure,Danger,conservation_cat,OrderVore,Ratio
8,Bottle-nosed dolphin,Tursiops,Cetacea,carni,lc,173.33,901.316,5.2,18.8,4.3,0.9,50.0,365.0,1.0,1.0,1.0,1,Cetacea-carni,5.2
14,Common porpoise,Phocoena,Cetacea,carni,vu,53.18,276.536,5.6,18.4,4.6,1.0,10.0,315.0,1.0,1.0,1.0,3,Cetacea-carni,5.2
61,Pilot whale,Globicephalus,Cetacea,carni,lc,800.00,4160.000,2.7,21.3,2.2,0.1,54.0,420.0,1.0,1.0,1.0,1,Cetacea-carni,5.2

In [133]:
def missing_1_ecological(df):
    '''
    This function fills the missing value for a specific row: 8, 14, 61, 56 and 78 
    which correspond to Bottle-nosed dolphin, Common porpoise Pilot whale, Northern grasshopper mouse 
    and Three-toed sloth respectively.
    '''
    df.loc[8, 'Predation':'Danger'] = 1
    df.loc[14, 'Predation':'Danger'] = 1
    df.loc[61, 'Predation':'Danger'] = 1
    df.loc[56, 'Predation':'Danger'] = 2
    df.loc[78, 'Predation':'Danger'] = (4, 3, 5)

    return df

In [134]:
df = missing_1_ecological(df)

# Missing values: Gestation and LifeSpan

In [135]:
df.loc[df['LifeSpan'].isnull() | df['Gestation'].isnull()]
# from some search over the web, I came to a conclusion to use
# Desert hedgehog: {'lifespan': 3.5, 'Gestation': 35}
# Northern grasshopper mouse: {'lifespan': 3, 'Gestation': 34}
# Three-toed sloth: {'lifespan': 27, 'Gestation': 180}
# Mole rat: {'lifespan': 20}

Empty DataFrame
Columns: [Species, Genus, Order, Vore, Conservation, BodyWt, BrainWt, TotalSleep, Awake, NonDreaming, Dreaming, LifeSpan, Gestation, Predation, Exposure, Danger, conservation_cat, OrderVore, Ratio]
Index: []

In [136]:
# I need to handle 'Cingulata' separately.
# For this order, I can replicate the Gestation value from the other armadillo species.

df.loc[df.Order == 'Cingulata']

,Species,Genus,Order,Vore,Conservation,BodyWt,BrainWt,TotalSleep,Awake,NonDreaming,Dreaming,LifeSpan,Gestation,Predation,Exposure,Danger,conservation_cat,OrderVore,Ratio
28,Giant armadillo,Priodontes,Cingulata,insecti,en,60.0,81.0,18.1,5.9,12.0,6.1,7.0,120.0,1.0,1.0,1.0,4,Cingulata-insecti,1.350000
47,Long-nosed armadillo,Dasypus,Cingulata,carni,lc,3.5,10.8,17.4,6.6,14.3,3.1,6.5,120.0,2.0,1.0,1.0,1,Cingulata-carni,3.085714

In [137]:
# Taking approximate values from the average for insects
# https://genomics.senescence.info/species/entry.php?species=Priodontes_maximus#
def missing_1_gestation(df):
    '''
    This function fills in the missing value of Gestation for a specific row: 28 (Giant armadillo)
    I fill it with a value of 30 which is more in line for insects.
    '''
    df.loc[28,"Gestation"] = 120
    return df

In [138]:
def missing_2_gestation(df):
    '''
    This function fills in values for LifeSpan and Gestation for specific rows: 8, 14, 61 \
    based on information available from wikipedia.
    '''
    df.loc[8, ['LifeSpan', 'Gestation']] = 50, 365
    df.loc[14, ['LifeSpan', 'Gestation']] = 10, 315
    df.loc[61, ['LifeSpan', 'Gestation']] = 54, 420
    df.loc[19, ['LifeSpan', 'Gestation']] = 3.5, 35
    df.loc[56, ['LifeSpan', 'Gestation']] = 3, 34
    df.loc[78, ['LifeSpan', 'Gestation']] = 27, 180
    df.loc[49, 'LifeSpan'] = 20
    return df

In [139]:
# Taking approximate values from the average for insects
df = missing_1_gestation(df)

In [140]:
# For 'Cetacea', use wikipedia resource
df = missing_2_gestation(df)

In [141]:
df.isnull().sum()

Species             0
Genus               0
Order               0
Vore                0
Conservation        0
BodyWt              0
BrainWt             0
TotalSleep          0
Awake               0
NonDreaming         0
Dreaming            0
LifeSpan            0
Gestation           0
Predation           0
Exposure            0
Danger              0
conservation_cat    0
OrderVore           0
Ratio               0
dtype: int64

Yay!!! No Missing values

In [143]:
df.to_csv('sleep_merged_cleaned.csv', index = False)

# Standardized/Normalized values

In [144]:
def mean_normalize(d):
    """This function returns the mean normalized values for a given data series.
    Usage: mean_normalize(data) where data is in the form of a data series.
    Currently, there are some issues faced with the implementation to take a dataframe \
    and the columns to normalize as an input
    """
    m = d.mean()
    s = d.std()
    res = (d - m)/s
    return res

In [145]:
def min_max_normalize(d):
    """This function returns the min-max normalized values for a given data series.
    Usage: mean_normalize(data) where data is in the form of a data series.
    Currently, there are some issues faced with the implementation to take a dataframe \
    and the columns to normalize as an input
    """
    mi = d.min()
    ma = d.max()
    res = (d - mi) / (ma - mi)
    return res

In [146]:
# Unfortunately StandardScaler(), MinMaxScaler() and scale() from sklearn.preprocessing did 
# not work as it only take integer inputs.
# Using min_max_normalize() to normalize values with float: results between 0 and 1.
def normalize_data(df):
    df["BodyWt_norm"] = min_max_normalize(df["BodyWt"])
    df["BrainWt_norm"] = min_max_normalize(df["BrainWt"])
    df["TotalSleep_norm"] = min_max_normalize(df["TotalSleep"])
    df["Awake_norm"] = min_max_normalize(df["Awake"])
    df["NonDreaming_norm"] = min_max_normalize(df["NonDreaming"])
    df["Dreaming_norm"] = min_max_normalize(df["Dreaming"])
    df["LifeSpan_norm"] = min_max_normalize(df["LifeSpan"])
    df["Gestation_norm"] = min_max_normalize(df["Gestation"])
    return df

In [147]:
df = normalize_data(df)

# Additional data processing

# Adding additional columns which could be useful

In [149]:
df["BrainBodyWtRatio"] = df["BrainWt"]/df["BodyWt"]
df["DreamRatio"] = df["Dreaming"]/24

# I have two types of sleep in the dataset: deep sleep (non-dreaming) and REM sleep (dreaming
# - Deep Sleep or Slow-wave sleep (SWS)
# - Rapid eye movement sleep (REM sleep or REMS)
df["rem"] = df["Dreaming"]/df["TotalSleep"]
df["sws"] = df["NonDreaming"] / df["TotalSleep"]

df['BrainBodyWtRatio_norm'] = df["BrainWt_norm"]/df["BodyWt_norm"]
df['DreamRatio_norm'] = df["Dreaming_norm"]/24
df['rem_norm'] = df["Dreaming_norm"]/df["TotalSleep_norm"]
df['sws_norm'] = df["NonDreaming_norm"] / df["TotalSleep_norm"]

# As suggested from AllisonScience1976.pdf paper, I can use a logarithmic scale for the BodyWt attribute.
# I multiply by 201 so that the minimum value becomes 1.005, to avoid negative log values.
df["BodyWt_log"] = np.log10(201 * df["BodyWt"])
df["BrainWt_log"] = np.log10(8 * df["BrainWt"])
df["BrainBodyWtRatio_log"] = df["BrainWt_log"]/df["BodyWt_log"]

#Converting Vore to categorical variables (herbi, omni, carni, insecti) using one-hot encoding.
df = pd.concat([df, pd.get_dummies(df["Vore"], dtype = int)], axis = 1)

# To use formula for PS (Dreaming) in AllisonScience1976: convert Dreaming and Gestation to log scale.
# log(PS) = 1.07 - (0.109 +- 0.022)D - (0.300 +- 0.068)log(Gs)
df['Dreaming_log'] = np.log10(df['Dreaming'])
df['NonDreaming_log'] = np.log10(df['Dreaming'])
df["DreamRatio_log"] = df["Dreaming_log"]/24
df['Awake_log'] = np.log10(df['Dreaming'])
df['TotalSleep_log'] = np.log10(df['TotalSleep'])
df['Gestation_log'] = np.log10(df['Gestation'])
df['LifeSpan_log'] = np.log10(df['LifeSpan'])
df["rem_log"] = df["Dreaming_log"]/df["TotalSleep_log"]
df["sws_log"] = df["NonDreaming_log"] / df["TotalSleep_log"]

### Reordering columns

In [150]:
col_order = list(df.columns.values)
df = df[['Species', 'Genus', 'Order', 'Vore', 'OrderVore', 'carni', 'herbi', 'insecti', 'omni',\
                           'Conservation', 'conservation_cat', 'BodyWt', 'BrainWt', 'BrainBodyWtRatio',\
                           'TotalSleep', 'Awake', 'NonDreaming', 'Dreaming', 'DreamRatio', 'rem', 'sws', 'LifeSpan', \
                           'Gestation', 'BodyWt_log', 'BrainWt_log', 'BrainBodyWtRatio_log', 'Dreaming_log', \
                           'rem_log', 'sws_log', 'DreamRatio_log', 'NonDreaming_log', 'Awake_log', \
                           'TotalSleep_log', 'LifeSpan_log', 'Gestation_log', 'Predation', 'Exposure', \
                           'Danger', 'BodyWt_norm', 'BrainWt_norm', 'BrainBodyWtRatio_norm', 'TotalSleep_norm', \
                           'Awake_norm', 'NonDreaming_norm', 'Dreaming_norm', 'rem_norm', 'sws_norm', \
                           'DreamRatio_norm', 'LifeSpan_norm', 'Gestation_norm']]

### Converting data types

In [152]:
for col in ["Predation", "Exposure", "Danger", "conservation_cat", "carni", "herbi", "insecti", "omni"]:
   df[col] = df[col].astype('category')

In [153]:
df.dtypes

Species                  string[python]
Genus                    string[python]
Order                    string[python]
Vore                     string[python]
OrderVore                string[python]
carni                          category
herbi                          category
insecti                        category
omni                           category
Conservation             string[python]
conservation_cat               category
BodyWt                          float64
BrainWt                         float64
BrainBodyWtRatio                float64
TotalSleep                      float64
Awake                           float64
NonDreaming                     float64
Dreaming                        float64
DreamRatio                      float64
rem                             float64
sws                             float64
LifeSpan                        float64
Gestation                       float64
BodyWt_log                      float64
BrainWt_log                     float64
BrainBodyWtRatio_log            float64
Dreaming_log                    float64
rem_log                         float64
sws_log                         float64
DreamRatio_log                  float64
NonDreaming_log                 float64
Awake_log                       float64
TotalSleep_log                  float64
LifeSpan_log                    float64
Gestation_log                   float64
Predation                      category
Exposure                       category
Danger                         category
BodyWt_norm                     float64
BrainWt_norm                    float64
BrainBodyWtRatio_norm           float64
TotalSleep_norm                 float64
Awake_norm                      float64
NonDreaming_norm                float64
Dreaming_norm                   float64
rem_norm                        float64
sws_norm                        float64
DreamRatio_norm                 float64
LifeSpan_norm                   float64
Gestation_norm                  float64
dtype: object

In [154]:
# Check for NULLs (missing values)
df.isnull().sum()

Species                  0
Genus                    0
Order                    0
Vore                     0
OrderVore                0
carni                    0
herbi                    0
insecti                  0
omni                     0
Conservation             0
conservation_cat         0
BodyWt                   0
BrainWt                  0
BrainBodyWtRatio         0
TotalSleep               0
Awake                    0
NonDreaming              0
Dreaming                 0
DreamRatio               0
rem                      0
sws                      0
LifeSpan                 0
Gestation                0
BodyWt_log               0
BrainWt_log              0
BrainBodyWtRatio_log     0
Dreaming_log             0
rem_log                  0
sws_log                  0
DreamRatio_log           0
NonDreaming_log          0
Awake_log                0
TotalSleep_log           0
LifeSpan_log             0
Gestation_log            0
Predation                0
Exposure                 0
Danger                   0
BodyWt_norm              0
BrainWt_norm             0
BrainBodyWtRatio_norm    1
TotalSleep_norm          0
Awake_norm               0
NonDreaming_norm         0
Dreaming_norm            0
rem_norm                 0
sws_norm                 1
DreamRatio_norm          0
LifeSpan_norm            0
Gestation_norm           0
dtype: int64

In [155]:
# Save output to a csv
df.to_csv('sleep_merged_cleaned.csv', index = False)

## Exploratory Data Analysis (EDA)